# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw datadog123

# Install
install --firstdisk --overwritevmfs

# Set the network to NAT on the first network adapter
network --bootproto=nat --device=vmnic0
firewall --disabled
services --enabled=sshd

reboot

%firstboot --interpreter=busybox

# Enable SSH and the ESXi Shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell
